#user_login_box
  .login_error_message
    = devise_error_messages!
  = form_for("user", :url => user_session_path, :html => {:class => 'b-regform-form', :id => 'sign_in'}, :remote => true, :format => :json) do |f|
    .b-topcol-leftcol
      .b-textinput-wrap
        = f.label 'Электронная почта', :class => 'b-regform__label'
        = f.text_field :email, :class => 'b-textinput', :id => 'b-regform__email', :whidth => '231px', :size => false
    .b-topcol-centercol
      .b-textinput-wrap
        = f.label 'Пароль', :class => 'b-regform__label'
        = f.password_field :password, :class => 'b-textinput'
    .b-topcol-rightcol
      .b-regform-button-container
        = f.submit 'ПРИСОЕДИНИТЬСЯ' , :class => 'rc10 inlineBlock b-regform__button', :style => 'height: 63px'
        .inlineBlock.b-regform__close
          или
          %span.js-regform__close.inlineBlock.pseudolink-dotted
            %span.b-pseudolink-icon>
            закрыть

  .clear
%span.b-bigblockcorner-container
  %span.b-bigblockcorner-wrap
    %span.b-bigblockcorner
