= form_for(@idea) do |f|
  - if @idea.errors.any?
    #error_explanation
      %h2
        = pluralize(@idea.errors.count, "error")
        prohibited this idea from being saved:
      %ul
        - @idea.errors.full_messages.each do |msg|
          %li= msg
  .field
    = f.label :subject
    %br/
    = f.text_field :subject
  .field
    = f.label :body
    %br/
    = f.text_area :body
  .actions
    = f.submit :class => 'submit'