= form_for(@idea) do |f|
  .field
    = f.label :subject
    %br/
    = f.text_field :subject
  .field
    = f.label :body
    %br/
    = f.text_area :body
  .actions
    = f.submit :class => 'submit'