.b-posts{:id => "idea_#{idea.id}"}
  .js-post.b-post
    .b-post-leftcol
      .b-post-header
        %span.js-post-header__link.inlineBlock.pseudolink-underline.b-post-header__link
          = link_to idea.subject || "", idea_comments_path(idea) , :remote => true
      .b-post__text
        = idea.body[0..250] + (idea.body.size > 250 ? "..." : '')
      .b-post__author
        = "# #{idea.id} //"
        = idea.created_at.strftime('%d %B %Y %H:%M')
        от
        %a{:href => "#"}
          = idea.user.nick || idea.user.email.split('@')[0]
    .b-post-rightcol
      = button_to '', vote_idea_path(idea), :remote => true, :method => :post, :class => 'vote'
      .inlineBlock.b-post-karma__amount{:id => "idea_#{idea.id}"}
        = idea.likes.count - idea.dislikes.count
      = button_to '', devote_idea_path(idea), :remote => true, :class => 'devote'
      .b-post-karma__votes
        Голосов:
        = idea.votes.count
        %br/
        Комментариев:
        = idea.comments.count
        - if idea.comments.any?
          %span.b-post__comments-link
            %span
              = link_to 'Комментарии', idea_comments_path(idea) , :remote => true
              ↓
        - else
          %span.b-post__comment-link
            %span.js-post__comment-link.inlineBlock.pseudolink-dotted Комментировать
            ↓

      .b-post-share
        %a{:href => "#"}
          %img{:alt => "", :src => "assets/yaru.gif"}/
        %a{:href => "#"}
          %img{:alt => "", :src => "assets/vk.gif"}/
        %a{:href => "#"}
          %img{:alt => "", :src => "assets/facebook.gif"}/
    .clear
    %span.b-bigblockcorner-container
      %span.b-bigblockcorner-wrap
        %span.b-bigblockcorner
  - if !idea.comments.any?
    .js-comment.b-comment{:style => 'display: none'}
      = render "comments/form", :idea => idea
