<%= render @comments.first.commentable %>
<%= t('.comments') %>
<div id="comments">
<%= will_paginate @comments%>
<%= render @comments %>
<%= will_paginate @comments%>
</div>
<div class='new_comment'>
  <%= form_for [@idea, Comment.new], :remote => true do |f| %>
  <p>
    <%= f.label t('.comment') %><br/>
    <%= f.text_area :comment %>
  </p>
  <p> <%= f.submit %></p>
  <% end %>
</div>