<%= render @commentable %>
<%= will_paginate @comments%>
<%= render @comments %>
<%= will_paginate @comments%>
<div class ='js-comment.b-comment'>

  <%= render 'form', :idea => @commentable %>
</div>