.about
  %h3
    = @lorem[0..50]
  %p
    = @lorem[0..200]
  %p
    = @lorem
  %ul
    %li
      = @lorem[0..25]
    %li
      = @lorem[0..25]
    %li
      = @lorem[0..225]
  %h4
    = @lorem[0..25]
  %p
    = @lorem[0..200]
  %p
    = @lorem
  %p
    = @lorem[0..200]
  %p
    = @lorem
  %p
    = @lorem
  %ul
    %li
      = @lorem[0..25]
    %li
      = @lorem[0..25]
    %li
      = @lorem[0..225]
  %h4
    = @lorem[0..25]
  %p
    = @lorem[0..200]
  %p
    = @lorem
  %p
    = @lorem[0..200]
  %p
    = @lorem
