.alert.alert-success
  %strong.pull-left
    Зарегистрировано:
    = User.count(:id)
  %span{:style => 'margin-left: 10px'}
    Сегодня:
    = User.where(:created_at => [Time.now.at_beginning_of_day .. Time.now]).count(:id)
  %span{:style => 'margin-left: 2px; padding-left: 5px;border-left: 1px dotted'}
    За неделю:
    = User.where(:created_at => [Time.now.weeks_ago(1) .. Time.now]).count(:id)
  %span{:style => 'margin-left: 2px; padding-left: 5px;border-left: 1px dotted'}
    За месяц:
    = User.where(:created_at => [Time.now.months_ago(1) .. Time.now]).count(:id)


  
      


%table.table.table-bordered.table-striped
  %th Роль
  %th e-mail
  %th Дата регистрации
  %th Дата последнего входа 
  - for user in @users
    %tr{:class => ('info' if user.role == 1)}
      %td
        = 'A' if user.role == 1
        = 'П' if user.role == 0
      %td
        = user.email
      %td 
        = user.created_at.strftime('%d.%m.%Y')
      %td 
        = user.last_sign_in_at.strftime('%d.%m.%Y %H:%M')