!!!
%html
  %head
    %title Rossa
    = stylesheet_link_tag "application"
    = stylesheet_link_tag 'style.css'
    /[if IE]
      <meta content="IE=edge" http-equiv="X-UA-Compatible"/>
    /[if lt IE 7]
      <link rel="stylesheet" type="text/css" href="CSS/ie.css"/>
    = csrf_meta_tags
  %body
    #admin_nav
      = render 'admin_nav'
    #user_nav
    .l-wrap
      = render 'layouts/header_logo'
      = render 'layouts/top_text'
      = render 'layouts/calculator'
      #user_login_box
        = form_for(resource, :as => resource_name, :url => password_path(resource_name), :method => :put, :html => {:class => 'b-regform-form'}) do |f|
          .b-topcol-leftcol
            .b-textinput-wrap
              = f.hidden_field :reset_password_token
              = f.label 'Пароль', :class => 'b-regform__label'
              = f.password_field :password, :class => 'b-textinput', :id => 'b-regform__email', :whidth => '231px', :size => false
          .b-topcol-centercol
            .b-textinput-wrap
              = f.label 'Повторите пароль', :class => 'b-regform__label'
              = f.password_field :password_confirmation, :class => 'b-textinput'
          .b-topcol-rightcol
            .b-regform-button-container
              = f.submit 'ПРИСОЕДИНИТЬСЯ' , :class => 'rc10 inlineBlock b-regform__button', :style => 'height: 63px'
              .inlineBlock.b-regform__close
                или
                %span.js-regform__close.inlineBlock.pseudolink-dotted
                  %span.b-pseudolink-icon>
                  закрыть

        .clear
      %span.b-bigblockcorner-container
        %span.b-bigblockcorner-wrap
          %span.b-bigblockcorner





      #content
      = render 'layouts/footer'






