.login_error_message
  Неверный пароль

= form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :post }) do |f|
  = devise_error_messages!
  = f.label :email
  = f.email_field :email
  = f.submit "Отправить инструкцию по восстановлению пароля"
