<!DOCTYPE html>
<html>
<head>
  <title>Rossa</title>
  <%= stylesheet_link_tag "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<div id="user_nav">
  <% if user_signed_in? %>
    Signed in as <%= current_user.email %>. Not you?
    <%= link_to t('sign_out'), destroy_user_session_path, :method => :delete %>
  <% else %>
    <%= link_to t('sign_up'), new_user_registration_path %> or
    <%= link_to t('sign_in'), new_user_session_path %>
  <% end %>
</div>

<%= yield %>

</body>
</html>
