.b-newpost
  .inlineBlock.b-newpost-leftcol
    .js-newpost-button.rc16.b-registration-button-container
      .b-registration-button
        .b-idea-button__slogan ТВОЁ ПРЕДЛОЖЕНИЕ
        .b-registration-button__text Нам очень нужен твой голос
  .inlineBlock.b-newpost-doublecol
    .inlineBlock.b-newpost__text
      Если есть что сказать, то мы будем рады твоему предложению. Расскажи, что ты считаешь важным, и путём голосования
      мы решим, что является самым актуальным!
  .clear
.js-newpost-form.b-newpostform
  = form_for(@idea, :html => {:class => 'b-regform-form'}) do |f|
    .b-topcol-doublecol
      .b-textinput-wrap
        - if @idea.errors.any?
          #error_explanation
            %h2
              = pluralize(@idea.errors.count, "error")
              prohibited this idea from being saved:
            %ul
              - @idea.errors.full_messages.each do |msg|
                %li= msg
        = f.label :body, :class => 'b-regform__label'
        %br/
        = f.text_area :body, :class => 'b-textinput', :id => 'b-newpostform__text', :cols => 50, :rows => 10
    .b-topcol-rightcol
      .b-regform-button-container
        = f.submit 'ПРЕДЛОЖИТЬ' , :class => 'rc10 inlineBlock b-regform__button', :style => 'height: 63px'
        .inlineBlock.b-regform__close
          или
          %span.js-newpost__close.inlineBlock.pseudolink-dotted
            %span.b-pseudolink-icon>
            закрыть

    .clear
  %span.b-bigblockcorner-container
    %span.b-bigblockcorner-wrap
      %span.b-bigblockcorner