.b-registration
  .b-topcol-leftcol
    .js-registration-button.rc16.b-registration-button-container
      .b-registration-button
        .b-registration-button__slogan ПРИСОЕДИНЯЙСЯ!
        .b-registration-button__text Нам очень нужен твой голос
  .b-topcol-centercol
    .inlineBlock.b-registration-info__text
      Мы — это Российская Армия Автомобилистов.
      %br/
      Мы создаём работающий механизм, который будет доносить до власти наше мнение!
      %br/
      И если нас будет много — тогда они нас услышат!
  .b-topcol-rightcol
    .b-registration-users
      %span.inlineBlock.b-highlight.b-registration-users__amount
        = User.count
      %span.inlineBlock.b-registration-users__persons участников
  .clear
.js-regform.b-regform
  #user_login_box
    = form_for("user", :url => user_session_path, :html => {:class => 'b-regform-form', :id => 'sign_in'}, :remote => true, :format => :json) do |f|
      .b-topcol-leftcol
        .b-textinput-wrap
          = f.label 'Электронная почта', :class => 'b-regform__label'
          = f.text_field :email, :class => 'b-textinput', :id => 'b-regform__email', :whidth => '231px', :size => false
      .b-topcol-centercol
        .b-textinput-wrap
          = f.label 'Пароль', :class => 'b-regform__label'
          = f.password_field :password, :class => 'b-textinput'
      .b-topcol-rightcol
        .b-regform-button-container
          = f.submit 'ПРИСОЕДИНИТЬСЯ' , :class => 'rc10 inlineBlock b-regform__button', :style => 'height: 63px'
          .inlineBlock.b-regform__close
            или
            %span.js-regform__close.inlineBlock.pseudolink-dotted
              %span.b-pseudolink-icon>
              закрыть

    .clear
  %span.b-bigblockcorner-container
    %span.b-bigblockcorner-wrap
      %span.b-bigblockcorner


