.b-toptext
  .b-toptext-lead
    %a.current.b-toptext-lead__link#fuel{:href => "#"} Бензин
    +
    %a.b-toptext-lead__link#loan{:href => "#"} налог
    +
    %a.b-toptext-lead__link#road{:href => "#"} дороги
    +
    %a.b-toptext-lead__link#osago{:href => "#"} осаго
    +
    %a.b-toptext-lead__link#tech{:href => "#"} гибдд техосмотр
    \= ?
  .b-toptext-text#fuel
    = Settings.layout.header.fuel.html_safe
  .b-toptext-text#loan
    = Settings.layout.header.loan.html_safe
  .b-toptext-text#road
    = Settings.layout.header.road.html_safe
  .b-toptext-text#osago
    = Settings.layout.header.osago.html_safe
  .b-toptext-text#tech
    = Settings.layout.header.tech.html_safe
