- if user_signed_in?
  = "#{t('signed_as')} #{current_user.email}. #{t('not_you')}"
  \#{link_to t('sign_out'), destroy_user_session_path, :method => :delete}
- else
  #login_tab
    = t('devise.sessions.sign_in.title')
    %br/
  =# link_to t('devise.sessions.sign_in.title'), new_user_session_path, :remote => true, :id => 'login_tab'

  #first_time_text
    = t('first_time')
    %br/
  #register_tab
    = t('sign_up')
    %br/
  = t('takes_a_minute')