- if user_signed_in?
  = "#{t('signed_as')} #{current_user.email}. #{t('not_you')}"
  \#{link_to t('sign_out'), destroy_user_session_path, :method => :delete}
- else
  #login_tab
    = t('devise.sessions.sign_in.title')
  =# link_to t('devise.sessions.sign_in.title'), new_user_session_path, :remote => true, :id => 'login_tab'

  = t('first_time')
  = link_to t('sign_up'), new_user_registration_path
  = t('takes_a_minute')